<nav class="mb-0 navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/profile">
                    Profile
                </a>
            </div>
        </div>
</nav>

<div class="mt-0 container">
    <div class="jumbotron text-center">
        <h1 class="display-4">College Search</h1>

        {{!-- <h2>Welcome <span class="member-name"></span></h2> --}}
        <h1>Welcome {{user.email}}!</h1>

        <hr class="my-4">
        <p>Enter a valid college in the search bar to view institution statistics.</p>
        <br>
        <div class="container">
            <form>
                <div class="form-group mx-sm-3 mb-2 text-center">
                    <input type="search" class="form-control-lg" id="search-input" placeholder="College Search">
                    <button type="submit" class="btn btn-info mb-2" id="search-submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>